<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Full name</th>
      <th>Activity URL</th>
      <th>Like?</th>
      <th>View Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat = "(index,activity) in activities">
      <th scope="row">{{index +1}}</th>
      <td>{{activity.actor_username}}</td>
      <td>{{activity.actor_name}}</td>
      <td><a href = {{activity.activity_url}}>{{activity.activity_url}}</a></td>
      <td><a href = {{activity.activity_url}}><i class="fa fa-{{provider}}"></i></a></td>
      <td><button class = "btn md" ng-click = "goToActivity(activity.id)">Go To Activity</button></td>
      
    </tr>
    </table>
    
    